body{
font-family: 'Roboto Condensed', sans-serif;
background-color: beige;
}
#myheader{
	color: teal;
	font-size: 26px;
}
li{
	color: black;
	font-size: 16px;
}

.my-list-item a{
	text-decoration: none;
}
a:visited{
	color:gray;

}
.my-list-item a:hover{
	color:brown;
}
