body{
	font-family: 'Roboto', sans-serif;
	color: white;
}
header{
	background: black;
	height: 44px;
}
header a{
	color: #FFFFFF;
}
header ul{
	list-style: none;
	margin:0;
	padding: 0;
}

header ul li{
	float: left;
	width: 20%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 0px;
	margin-right:0;
}
#section1{
	background: #a34a58;
}
#section2{
	background: #ddd222;
	color: black;
}
#section3{
	background: #3ca1be;
}
#sidebar{
	background: #81c774;
}